@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;600&family=Montserrat:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.nav_links ul {
  font-family: "Montserrat", sans-serif;
}

.texts h1 {
  font-size: 58px;
  width: 400px;
  font-family: "Martel", serif;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0.2px;
}
.texts h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #737373;
  line-height: 30px;
  letter-spacing: 0.2px;
  size: 20px;
  width: 300px;
}

.texts2 h2 {
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.200000003px;
}
.texts2 h5 {
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: center;
}

nav {
  width: 100%;
  position: relative;
  height: 900px;
  background-image: url("/assets/imgs/cover.svg");
  background-size: 100%;
}
nav .nav_container {
  display: flex;
  justify-content: space-between;
}
nav .nav_container .nav_links {
  margin-top: 20px;
  margin-right: 50%;
}
nav .nav_container .nav_links ul {
  display: flex;
  flex-direction: row;
}
nav .nav_container .nav_links ul li {
  margin-left: 40px;
}
nav .nav_container .nav_brand {
  margin-top: 20px;
  margin-left: 200px;
}
nav .nav_container .nav_icon {
  margin-top: 20px;
  margin-right: 50px;
}
nav .container .container_nav .texts {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 200px;
}
nav .container .container_nav .texts h4 {
  margin-top: 20px;
}
nav .container .container_nav .texts .btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
nav .container .container_nav .texts .btns #btn1 {
  width: 182px;
  height: 48px;
  background: #784F33;
  border-radius: 37px;
  color: white;
  border: 1px solid white;
}
nav .container .container_nav .texts .btns #btn2 {
  width: 182px;
  height: 48px;
  background: #ffffff;
  border-radius: 37px;
  color: #784F33;
  border: 1px solid #784F33;
}
nav .container2 .container2_nav .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 7%;
  margin-left: 500px;
}
nav .container2 .container2_nav .row .card1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
nav .container2 .container2_nav .row .card1 p {
  width: 200px;
  color: #737373;
}
nav .container2 .container2_nav .row .card2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
nav .container2 .container2_nav .row .card2 p {
  width: 200px;
  color: #737373;
}
nav .container2 .container2_nav .row .card3 {
  background: #295C7A;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
nav .container2 .container2_nav .row .card3 h3 {
  color: white;
}
nav .container2 .container2_nav .row .card3 p {
  width: 200px;
  color: #FFFFFF;
}

.features10 {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background: #FAFAFA;
}
.features10 .container3 .texts2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features10 .container3 .texts2 h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.200000003px;
  text-align: center;
}
.features10 .container3 .texts2 p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 460px;
  line-height: 20px;
  text-align: center;
}
.features10 .container3 .row2 {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 250px;
}
.features10 .container3 .row2 .col-md-3 {
  padding: 50px 40px;
  gap: 10px;
  width: 230px;
  background-color: white;
}
.features10 .container3 .row2 .col-md-3 h2 {
  margin-top: 20px;
}
.features10 .container3 .row2 .col-md-3 h5 {
  color: #737373;
  margin-top: 20px;
}

.features7 {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background: #FAFAFA;
}
.features7 .container4 .texts3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features7 .container4 .texts3 h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #252B42;
}
.features7 .container4 .texts3 p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 460px;
  line-height: 20px;
  text-align: center;
  color: #737373;
}
.features7 .container4 .row3 {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 250px;
}
.features7 .container4 .row3 .col-md-3 {
  padding: 30px 20px;
  gap: 10px;
  width: 230px;
  background-color: white;
}
.features7 .container4 .row3 .col-md-3 h5 {
  margin-top: 20px;
}
.features7 .container4 .row3 .col-md-3 p {
  color: #737373;
  margin-top: 20px;
}
.features7 .container4 .row3 .col-md-3 img {
  margin-top: 20px;
}

.About2 {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background: #FAFAFA;
}
.About2 .container5 .texts4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About2 .container5 .texts4 h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #252B42;
}
.About2 .container5 .texts4 p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 460px;
  line-height: 20px;
  text-align: center;
  color: #737373;
}
.About2 .container5 .row4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 250px;
}
.About2 .container5 .row4 .col-md-4 {
  padding: 30px 20px;
  gap: 10px;
  width: 230px;
}
.About2 .container5 .row4 .col-md-4 h2 {
  font-family: "Martel", serif;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}
.About2 .container5 .row4 .col-md-4 P {
  color: #737373;
  width: 200px;
  display: flex;
  justify-content: flex-start;
}
.About2 .container5 .row4 .col-md-4 .card-item1text {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
.About2 .container5 .row4 .col-md-4 .card-item2text {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=main.css.map */